.footer {
  width: 92%;
  height: 140px;
  border-top: 1px rgba(255, 255, 255, 0.479) solid;
  margin: 90px auto 0;
  padding: 0 40px;
  color: white;
  display: flex;
  align-items: center;
  font-size: medium;
  column-gap: 100px;
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100vw;
    display: grid;
    height: 500px;
    margin: 50px 0 20px;
    padding: 0 40px;
    height: 400px;
    justify-items: start;
  }
}