.header__title {
  color: white;
  z-index: 3;
  margin: auto auto 0;
  padding: 0;
  font-size: 90px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 50px;
    margin: auto auto 0 30px;
    line-height: 80px;
  }
}